/* .jumbotron{
    margin-top: 20px;
    background-image: 
} */

html {
    scroll-behavior: smooth;
   }

   .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.5;
  }